.page-body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;

  font-family: "OpenSans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: white;

  @media (max-width: 900px){    
    flex-direction: column;
  }
}

.page-header{
  position: relative;
  background-color:#1F2339;
  max-width: 241px;
  min-width: 241px;
  @media (max-width: 1200px){    
    max-width: 55px;
    min-width: 55px;
  }
  @media (max-width: 900px){
    max-width: 100%;
    min-width: 100%;
  } 
}

.page-main{
  background-color: #4d5375;
  padding: 0 40px 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.--blue-marker{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: linear-gradient(141.65deg, #43E9FF 22.09%, #00ABAB 67.48%), #646981;
    border-radius: 5px;
    left: -34px;
    top: 2px;
  }
}

.--violet-marker{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: linear-gradient(124.04deg, rgba(182, 26, 255, 0.5) -6.27%, rgba(0, 26, 255, 0.5) 98.36%), #656CFF;
    border-radius: 5px;
    left: -34px;
    top: 2px;
  }
}