.employees__title{
  margin: 26px 0 23px 17px;
}

.employees__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.employees__list--main{
  margin-left: 17px;
}

.employees__item{
  position: relative;
  display: flex;
  flex-direction: column;
}

.employees__button{
  position: absolute;  
  top: 0;
  cursor: pointer;
}

.employees__button--call{
  right: 59px;
  &::before{
    content: url(../svg/tel.svg);
  }
}

.employees__button--email{
  right: 20px;
  &::before{
    content: url(../svg/letter.svg);
  }
}

.employees__span--post{
  color: #A1A6BE;
}

.employees__button--show{
  margin: 33px 0 0 17px;
}