.statistics{
  margin: 0 auto 68px;
  padding: 0;
  width: 100%;
  max-width: 1080px;
  @media(max-width: 1425px){
    width: 730px;
  }
  @media(max-width: 900px){
    width: 340px;
  }
}

.statistics__wrapper{
  margin: -15px;
  
  display: flex;
  flex-wrap: wrap;
}

.statistics__article--min{
  max-width: 340px;
  height: 230px;
}

.statistics__article--med{
  max-width: 525px;
  height: 270px;
}

.statistics__article--max{
  max-width: 710px;
  height: 230px;
}

.statistics__article{
  position: relative;
  min-height: 230px;
  background: #383E57;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  width: 100%;
  min-width: 340px;

  margin: 15px;
}

.statistics__article--ocean{
  @media(max-width: 1425px){
    order: 1;
  }
}

.statistics__article--harvest{
  @media(max-width: 1425px){
    order: 2;
  }
}

.statistics__article--weather{
  @media(max-width: 1425px){
    order: 4;
  }
}

.statistics__article--report{
  @media(max-width: 1425px){
    order: 5;
  }
  @media (max-width: 900px){
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: centers;
  }
}

.statistics__article--employees{
  @media(max-width: 1425px){
    order: 3;
  }
}

.statistics__article--millet{
  @media(max-width: 1425px){
    order: 6;
    max-width: 710px;
  }
}

.statistics__article--truck{
  @media(max-width: 1425px){
    order: 7;
    max-width: 710px;
  }
}

.statistics__title{
  margin: 20px 0 0 20px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.statistics__title--report{
  margin-bottom: 19px;
}

.statistics__span--harvest{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  margin: 7px 0 0 20px;
  display: inline-block;
}

.statistics__svg{
  position: absolute;
}

.statistics__svg--ocean{
  top: 46px;
  right: 24px;
}

.statistics__svg--map{
  top: 53px;
  right: 25px;
}

.statistics__svg--report{
  top: 21px;
  right: 46px;
  @media (max-width: 900px){
    position: relative;
    top: 0;
    right: 0;
    margin: 20px auto;
  }
}

.statistics__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistics__list--weather{
  margin: 30px 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.statistics__item--date{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  display: flex;
  flex-wrap: wrap;
  max-width: 75px;

  margin-right: 39px;
}

.statistics__item--pressure{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;  
  color: #A1A6BE;
}

.statistics__item--precipitation{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;  
  color: #A1A6BE;
}

.statistics__item--temperature{
  position: relative;
}

.statistics__span--temperature{
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;  
  letter-spacing: -0.05em;
}

.statistics__item--pressure{
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
  margin-right: 60px;
}

.statistics__item--precipitation{
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
}

.statistics__span--degrees{
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0;

  position: relative;
  bottom: 33px;
}

.statistics__span--date{
  margin-bottom: 1px;
}

.statistics__span--pressure{
  margin-bottom: 6px;
}

.statistics__span--sun{
  margin-bottom: 6px;
}

.statistics__table{
  font-family: inherit;
  margin-left: 10px;
  border-spacing: 0;
  @media (max-width:900px){
    margin: 0 auto;
  }
}

.statistics__tr{
  text-align: left;
}

.statistics__th--1{
  border: 1px solid #151E41;
  border-left: none;
  border-bottom: none;
}

.statistics__th--2{
  border: 1px solid #151E41;
  border-bottom: none;
}

.statistics__th--3{
  border: 1px solid #151E41;
  border-right: none;
  border-bottom: none;
}

.statistics__th{
  width: 124px;
  padding: 11px 0 9px 10px;
}

.statistics__button{
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #43E8FF;

  border: 0;
  padding: 0;

  cursor: pointer;
}