.table{
  background: #383E57;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  padding: 17px 8px 0 10px;
  margin-bottom: 89px;
  width: 1080px;
}

.table__table{
  margin: 0;
  border-spacing: 0px 0px;
  text-align: left;
}

.table__table--head{
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.table__table--body{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #A1A6BE;
}

.table__th{
  padding: 0 0 0 30px;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom: none;
  &:nth-child(1){
    width: 226px;
    border-left: none;
  }
  &:nth-child(2){
    width: 128px;
  }
  &:nth-child(3){
    width: 242px;
  }
  &:nth-child(4){
    width: 401px;
  }
  &:nth-child(5){
    width: 43px;
    padding: 17px 0 19px 11px;
    border-right: none;
  }
}

.table__th--head{
  border: none;
}

.table__th--name{
  &:nth-child(1){
    padding-left: 0;
  }
}

.table__th--min{
  position: relative;
  &::before{
    content: url(../svg/minRating.svg);
    position: absolute;
    top: 14px;
    left: 2px;
  }
}

.table__th--med{
  position: relative;
  &::before{
    content: url(../svg/medRating.svg);
    position: absolute;
    top: 14px;
    left: 2px;
  }
}

.table__th--max{
  position: relative;
  &::before{
    content: url(../svg/maxRating.svg);
    position: absolute;
    top: 14px;
    left: 2px;
  }
}

.table__div-scroll{	
  max-height: 770px;
	overflow-x: auto;
	margin-top: 0px;
  &::-webkit-scrollbar {
    width: 15px; 
    background: #3E4459;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #23273A;
    border-radius: 6px;
  }
}